<form class="teacher-form" autocomplete="off" [formGroup]="teacherForm" (submit)="submitForm()" >

    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name" formControlName="name" required />
      @if (name.invalid) {
      <mat-error>Name must be at least 5 characters long.</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Department</mat-label>
      <input matInput placeholder="Department" formControlName="department" required />
      @if (department.invalid) {
      <mat-error>Department must be at least 5 characters long.</mat-error>
      }
    </mat-form-field>

    <br />
    <button mat-raised-button color="primary" type="submit" [disabled]="teacherForm.invalid">
      Add
    </button>

  </form>