<form class="login-form" autocomplete="off" [formGroup]="loginForm" (submit)="login()" >

    <mat-form-field>
      <mat-label>User</mat-label>
      <input matInput placeholder="User" formControlName="username" required />
      @if (username.invalid) {
      <mat-error>Username must be at least 3 characters long.</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput placeholder="Password" formControlName="password" required />
      @if (password.invalid) {
      <mat-error>Password must be at least 5 characters long.</mat-error>
      }
    </mat-form-field>

    <br />
    <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
      Login
    </button>

  </form>